name: show branch name

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: show git commit traditional
        shell: bash
        run: echo $GITHUB_SHA
      - name: this breaks
        run: exit 1
      - name: show git commit
        shell: bash
        if: always()
        if: vars.ENABLE_SPECIAL_STEP == 'true'
        run: echo ${{github.sha}}
      - name: show git commit again
        shell: bash
        run: echo ${{github.sha}}